:root{

  font-size: 62.5%;



}


*, *::after, *::before{

  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

button{
  cursor: pointer;
  border: none;
  padding: 1em;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  color: inherit;
  border-radius: 5px;
}

a{
  color: inherit;
}

a:link, a:visited{
  text-decoration: none;
  

}


input{
  padding: 0.75em;
  border: none;
}


body{
  
  font-size: 1.6rem;
  font-family: Poppins, sans-serif;



}

